
/* Inter font family */

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* Raleway font family */


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* nav styles */



.body-full{
    margin: 0 auto;
}



nav{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
    max-width: 1140px;
    padding: 0 20px;
}


.nav-logo{
    font-weight: 900;
    font-size: 34px;
    color: #4E47FF;
}

.nav-btn{
    

    font-size: 16px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: rgb(78, 71, 255);
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    margin: 12px 36px;
   
}

header.section-width{
    padding-top: 50px;
}

.section-width{
    max-width: 1440px;
    height: 700px;
    background-image: url('../Assets/Hero-bg.png');
    margin: 0 auto;
    border-radius: 10px;
}

/* banner styles */

.banner-content{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
    text-align: center;
    margin-top: 160px;
    margin-bottom: 37px;
}

.banner-btn{
    padding: 12px 36px;
    font-weight: 100;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: #4E47FF;
    color: white;
    margin-left: 640px;
}
