
/* Inter font family */

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* Raleway font family */


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* nav styles */



.body-full{
    margin: 0 auto;
}



nav{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
    max-width: 1140px;
    padding: 0 20px;
}


.nav-logo{
    font-weight: 900;
    font-size: 34px;
    color: #4E47FF;
}

.nav-btn{
    

    font-size: 16px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: rgb(78, 71, 255);
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    margin: 12px 36px;
   
}

header.section-width{
    padding-top: 50px;
}

.section-width{
    max-width: 1440px;
    height: 700px;
    background-image: url('../Assets/Hero-bg.png');
    margin: 0 auto;
    border-radius: 10px;
}

/* banner styles */

.banner-content{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
    text-align: center;
    margin-top: 160px;
    margin-bottom: 37px;
}

.banner-btn{
    padding: 12px 36px;
    font-weight: 100;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: #4E47FF;
    color: white;
    margin-left: 640px;
}



/* webflow section */



.section-webflow{
    display: flex;
    margin: 100px auto;
    max-width: 1140px;
    align-items: center;
    justify-content: space-between;
}

.webflow-head{
    font-weight: bold;
    font-size: 42px;
    color: #252432;

}

.webflow-para{
    font-weight: 400;
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
}

.webflow-btn{
    padding: 12px 36px;
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    border: none;
}

.webflow-img{
    border-radius: 48px;
}



/* joined Thousands of productive users styles */



.productive{

    max-width: 1140px;
    margin: 50px auto;
    background-color: rgba(78, 71, 255, 0.1);
    border: 2px solid rgba(78, 71, 255, 0.1);
    border-radius: 10px;
   
}

.productive-content {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 0px;
    margin-bottom: 60px;
    
}


.productive-heading{

    text-align: center;
    margin-top: 50px;
}


.active-user{
    font-size: 80px;
    font-weight: 700;
    color: #4E47FF;
    margin-bottom: 0px;
}

.active-para{
    margin-top: 0px;
    margin-left: 20px;
}

