
/* Inter font family */

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* Raleway font family */


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* nav styles */



.body-full{
    margin: 0 auto;
}



nav{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
    max-width: 1140px;
    padding: 0 20px;
}


.nav-logo{
    font-weight: 900;
    font-size: 34px;
    color: #4E47FF;
}

.nav-btn{
    

    font-size: 16px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: rgb(78, 71, 255);
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    margin: 12px 36px;
   
}

header.section-width{
    padding-top: 50px;
}

.section-width{
    max-width: 1440px;
    height: 700px;
    background-image: url('../Assets/Hero-bg.png');
    margin: 0 auto;
    border-radius: 10px;
}

/* banner styles */

.banner-content{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
    text-align: center;
    margin-top: 160px;
    margin-bottom: 37px;
}

.banner-btn{
    padding: 12px 36px;
    font-weight: 100;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: #4E47FF;
    color: white;
    margin-left: 640px;
}



/* webflow section */



.section-webflow{
    display: flex;
    margin: 100px auto;
    max-width: 1140px;
    align-items: center;
    justify-content: space-between;
}

.webflow-head{
    font-weight: bold;
    font-size: 42px;
    color: #252432;

}

.webflow-para{
    font-weight: 400;
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
}

.webflow-btn{
    padding: 12px 36px;
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    border: none;
}

.webflow-img{
    border-radius: 48px;
}



/* joined Thousands of productive users styles */



.productive{

    max-width: 1140px;
    margin: 50px auto;
    background-color: rgba(78, 71, 255, 0.1);
    border: 2px solid rgba(78, 71, 255, 0.1);
    border-radius: 10px;
   
}

.productive-content {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 0px;
    margin-bottom: 60px;
    
}


.productive-heading{

    text-align: center;
    margin-top: 50px;
}


.active-user{
    font-size: 80px;
    font-weight: 700;
    color: #4E47FF;
    margin-bottom: 0px;
}

.active-para{
    margin-top: 0px;
    margin-left: 20px;
}



/* Loved designers styles */

.design{
    max-width: 1140px;
    margin: 50px auto;
    margin-top: 100px;
}


.designer{
    background-color: white;
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #000000;
    border: 1px solid rgb(242, 237, 237);

}

.design-heading{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    text-shadow: #00000000;
    
}

.design-pic{
    border-radius: 9999px;
    width: 40px;
    height: 40px;
    box-shadow: 0px 4px 4px 0px #00000000;
}

.designer-owner{
    display: flex;
    gap: 12px;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    color: rgb(117, 117, 117);
}

.designer-para{
    color: rgb(30, 30, 30);
}

.designer-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}



/* ready to focus better styles */

.focus{
    max-width: 1140px;
    margin: 50px auto;
    margin-top: 110px;
    box-shadow: 0px 4px 4px 0px #00000027;
    border: 1px solid rgb(242, 237, 237);
    text-align: center;
    padding-top: 71px;
    padding-bottom: 71px;
    border-radius: 10px;

}

.focus-title{
    font-size: 50px;
    font-weight: 700px;
    color: rgb(0, 0, 0);
}

.focus-para{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

.focus-btn{
    font-size: 16px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: rgb(78, 71, 255);
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

.focus-img{
    border-radius: 48px;
}


/* Let's get in touch styles */

.user-login{
    max-width: 1140px;
    margin: 50px auto;
    margin-top: 110px;
}
.login-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.touch-title{
    font-size: 97px;
    font-weight: bold;
}


.login-email{
    padding: 10px 32px;
    box-shadow: 0px 4px 4px 0px #00000000;
    border: 1px solid rgb(242, 237, 237);
    border-radius: 10px;
    
}

.login-msg{
    padding: 30px 32px;
    box-shadow: 0px 4px 4px 0px #00000000;
    border: 1px solid rgb(242, 237, 237);
    border-radius: 10px;
    
}

.login-btn{
    padding: 20px 32px;
    box-shadow: 0px 4px 4px 0px #00000000;
    border: 1px solid rgb(242, 237, 237);
    border-radius: 10px;
    margin-top: 20px;
    background-color: #4E47FF;
    color: white;
    padding-right: 68px;
    padding-left: 101px;
    text-align: center;
}



.email-content{
    font-size: 18px;
    font-weight: 500;
    /* margin: 19px 0px; */
}

.label-content{
    margin: 10px 10px;
    
}




/* footer styles */



.end-content{
    max-width: 1440px;
    margin: 50px auto;
    margin-top: 110px;
    text-align: center;
     box-shadow: 0px 4px 4px 0px #00000000;
     border: 1px solid rgb(242, 237, 237);
     border-radius: 10px;
}



.end-logo{
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
    margin-bottom: 0;
}

.end-para{
    font-size: 16px;
    font-weight: 400;
    color: rgb(137, 135, 161);
}

.nav-item{
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-bottom: 60px;
}

.nav-item li{
    list-style: none;
}

.nav-item li a{
    text-decoration: none;
}

.item{
    display: flex;
    gap: 40px;
    text-align: center;
}

